/**
 * File Name: service.css
 * Student's Name: Joshua Gates
 * StudentID: 301469968
 * Date: May 22, 2025
 */

 /* ===================== Card Styles ===================== */
.service-card {
  transition: transform 0.3s cubic-bezier(.4,2,.6,1);
  cursor: pointer;
}
.service-card:hover {
  transform: scale(1.1);
  z-index: 1;
}